# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environments
venv/
env/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore build and dependency directories
build/
dist/
*.egg-info/

# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore Jupyter Notebook metadata files
*.ipynb~ 
